body {
    font-family: 'Poppins', sans-serif;
    background-color: #ebebe8;
    color: #333;
    text-align: center;
    padding: 50px 20px;
    margin: 0;
}

.logo img {
    width: 400px;
    margin-bottom: 0px;
}

h1 {
    font-size: 28px;
    color: #002f44;
    font-weight: 600;
    margin-top: 0;
}

.dots span {
  opacity: 0;
  animation: pulse 1s infinite;
}

.dots span:nth-child(1) { animation-delay: 0s; }
.dots span:nth-child(2) { animation-delay: 0.2s; }
.dots span:nth-child(3) { animation-delay: 0.4s; }

@keyframes pulse {
  0%, 100% { opacity: 0; }
  50%      { opacity: 1; }
}

@media (max-width: 600px) {
    body {
        padding: 30px 15px;
    }

    h1 {
        font-size: 22px;
    }

    .logo img {
        max-width: 300px;
    }
}
